etl/events-soap/EventNotificationLocal.wsdl

<wsdl:definitions name="EventNotification" targetNamespace="urn:epic-com:Events.2010.Services.Notification" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:epic="urn:epic-com:Events.2010.Services.Notification" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:epic-com:Events.2010.Services.Notification">
      <xsd:element name="ProcessEvent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="eventInfo" type="epic:Event" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Event">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="TimeGenerated" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OtherEntities" type="epic:Entity" />
          <xsd:element minOccurs="0" maxOccurs="1" name="User" type="epic:Entity" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PrimaryEntity" type="epic:Entity" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Entity">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IDType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ContactDate" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ProcessEventResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessEventIn">
    <wsdl:part name="parameters" element="epic:ProcessEvent" />
  </wsdl:message>
  <wsdl:message name="ProcessEventOut">
    <wsdl:part name="parameters" element="epic:ProcessEventResponse" />
  </wsdl:message>
  <wsdl:portType name="EventNotificationPortType">
    <wsdl:operation name="ProcessEvent">
      <wsdl:input wsaw:Action="urn:epic-com:Events.2010.Services.Notification" message="epic:ProcessEventIn" />
      <wsdl:output wsaw:Action="urn:epic-com:Events.2010.Services.Notification" message="epic:ProcessEventOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventNotificationBinding" type="epic:EventNotificationPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessEvent">
      <soap:operation soapAction="urn:epic-com:Events.2010.Services.Notification.ProcessEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
      <documentation>WSDL File for EventService</documentation>
      <!-- defines individual endpoint by a single address-->
      <port binding="tns:EventNotificationBinding" name="EventPort">
         <soap:address location="http://localhost:8000/" />
      </port>
   </wsdl:service>
</wsdl:definitions>